# /etc/systemd/system/arweave.service

[Unit]
Description                            =Arweave node daemon
After                                  =network.target

[Service]
Type                                   =simple
ExecStartPre                           =/sbin/sysctl -w vm.nr_hugepages=2000
ExecStart                              =/home/arweave/bin/start mine mining_addr fGXRacSSpS8wThFLf6C3tImHEwx41iJ1WBFSjSex6s0 peer 188.166.200.45 peer 188.166.192.169 peer 163.47.11.64 peer 159.203.158.108 peer 139.59.51.59 peer 138.197.232.192
ExecStop                               =/home/arweave/bin/stop
Restart                                =always
RestartSec                             =10
SyslogIdentifier                       =arweave
TimeoutStartSec                        =infinity
TimeoutStopSec                         =300
User                                   =arweave
WorkingDirectory                       =/home/arweave/
LimitNOFILE                            =10000

[Install]
WantedBy=multi-user.target
